<h1>Animals</h1>

<div id="act_as_tree_diagram">
  <ul class="tree">
    <code>
      ルート
    </code>
    <ul>
      <li>
        <%= Animal.find(1).name %>
        <ul>
          <%= Animal.draw_diagram(where: { id: 1 }, path: animals_path).html_safe %>
        </ul>
      </li>
    </ul>
  </ul>
</div>

<%= link_to "New animal", new_animal_path %>
